importFrom("methods", show)
importFrom("lavaan", summary, anova, inspect, coef, cor2cov, sqrtSymmetricMatrix)
exportClasses(SimMatrix, 
	SimVector, 
	SimSem,
	SimResult, 
	SimDataDist, 
	SimMissing)
exportMethods(summary, summaryShort, 
	coef,
	anova)
export(bindDist, rawDraw,
	model, model.cfa, model.path, model.sem,
	estmodel, estmodel.cfa, estmodel.path, estmodel.sem,
	model.lavaan,
	impose, imposeMissing, 
	summaryFit, summaryParam, summaryMisspec, summaryConverge, summarySeed, summaryTime,
	getCutoff, plotCutoff, 
	findRecursiveSet, findPossibleFactorCor, findIndIntercept, findIndResidualVar, findFactorIntercept, findFactorResidualVar, 
	findIndTotalVar, findIndMean, findFactorTotalVar, findFactorTotalCov, findFactorMean, 
	getPower, plotPower, findPower, plotMisfit, getExtraOutput,
	popMisfitMACS, 
	popDiscrepancy, 
	continuousPower, combineSim,
	getCIwidth, plotCIwidth, 
	getCoverage, continuousCoverage, plotCoverage, findCoverage, 
	getPowerFit, getPowerFitNested, getPowerFitNonNested, 
	plotPowerFit, plotPowerFitNested, plotCutoffNested, getCutoffNested, multipleAllEqual,
	plotDist, 
	summaryPopulation, getPopulation, setPopulation, 
	getCutoffNonNested, plotCutoffNonNested, plotPowerFitNonNested, likRatioFit, pValue, pValueNested, pValueNonNested,
	bind, binds, generate, analyze, sim, draw, createData, miss, exportData,
	plotLogitMiss)
