importFrom("lavaan", summary, anova, cor2cov, sqrtSymmetricMatrix)
importClassesFrom("copula", copula)
exportClasses(SimMatrix, 
	SimVector, 
	SimSem,
	SimResult, 
	SimDataDist, 
	SimMissing)
exportMethods(summary, 	summaryShort, 
	getCutoff, plotCutoff, 
	pValue, 
	anova)
export(bindDist, rawDraw,
	model, model.cfa, model.path, model.sem,
	estmodel, estmodel.cfa, estmodel.path, estmodel.sem,
	model.lavaan,
	impose, imposeMissing, 
	summaryFit, summaryParam, summaryMisspec, summaryConverge,
	findRecursiveSet, findPossibleFactorCor, findIndIntercept, findIndResidualVar, findFactorIntercept, findFactorResidualVar, 
	findIndTotalVar, findIndMean, findFactorTotalVar, findFactorTotalCov, findFactorMean, 
	getPower, plotPower, findPower, plotMisfit, getExtraOutput,
	popMisfitMACS, 
	popDiscrepancy, 
	continuousPower, combineSim,
	getPowerFit, getPowerFitNested, getPowerFitNonNested, 
	plotPowerFit, plotPowerFitNested, plotCutoffNested, getCutoffNested, multipleAllEqual,
	plotDist, 
	summaryPopulation, getPopulation, setPopulation, 
	getCutoffNonNested, plotCutoffNonNested, plotPowerFitNonNested, likRatioFit, pValueNested, pValueNonNested,
	bind, binds, generate, analyze, sim, draw, createData, miss, exportData,
	plotLogitMiss)
