importFrom("lavaan", summary, anova, cor2cov, sqrtSymmetricMatrix)
exportClasses(#SimUnif, SimNorm, SimBeta, SimBinom, SimCauchy, SimChisq, SimExp,
	#SimF, SimGamma, SimGeom, SimHyper, SimLnorm, SimLogis, SimNbinom, 
	#SimPois, SimT, SimWeibull, VirtualDist,
	SimMatrix, 
	#SymMatrix, 
	SimVector, 
	SimSem,
	#SimSet, 
	#SimEqualCon, 
	#SimData, SimModel, 
	SimResult, 
	SimDataDist, 
	#SimMisspec, SimModelOut,
	#SimDataOut, 
	SimMissing, #SimModelMIOut, 
	#SimResultParam, SimParam, 
	SimFunction)
exportMethods(summary, summaryShort, 
	#adjust, simModel,
	getCutoff, getPowerFit, plotCutoff, summaryParam, plotDist, 
	#createImpliedMACS,
	#extract, 
	anova, 
	#simData, 
	pValue, 
	#runFit, runFitParam, 
	summaryPopulation, getPopulation, setPopulation, 
	#popMisfit, 
	summaryFit,
	getPowerFitNested, summaryMisspec, getPowerFitNonNested)
export(#simUnif, simNorm, simBeta, simBinom, simCauchy, simChisq, simExp,
	#simF, simGamma, simGeom, simHyper, simLnorm, simLogis, simNbinom, 
	#simPois, simT, simWeibull, 
	loadingFromAlpha, 
	#simMatrix, symMatrix, simVector,
	#simSetCFA, simSetPath, simSetSEM, simEqualCon, simResult, 
	bindDist,
	#simMisspecCFA, simMisspecPath, simMisspecSEM, runMI, 
	#simMissing, 
	imposeMissing, #miPoolVector, miPoolChi,
	simFunction, 
	#simParamCFA, simParamPath, simParamSEM,
	findRecursiveSet, findPossibleFactorCor, findIndIntercept, findIndResidualVar, findFactorIntercept, findFactorResidualVar, 
	findIndTotalVar, findIndMean, findFactorTotalVar, findFactorTotalCov, findFactorMean, 
	getPower, plotPower, findPower, plotMisfit, 
	#simResultParam, 
	popMisfitMACS, 
	popDiscrepancy, 
	continuousPower,
	plotPowerFit, plotPowerFitNested, plotCutoffNested, getCutoffNested, multipleAllEqual,
	getCutoffNonNested, plotCutoffNonNested, plotPowerFitNonNested, likRatioFit, pValueNested, pValueNonNested,
	bind, binds, model, generate, analyze, sim, draw, createData, miss)
