exportClasses("Rnorm", 
	"Runif", 
	"simDist",
	"simMatrix", 
	"symMatrix", 
	"simVector", 
	"simMatrixSet"
	)
exportMethods(
	"summary", 
	"run", 
	"adjust.object", 
	"summary.short"
	)
export(
	"loading.from.alpha", 
	"runif.object", 
	"rnorm.object", 
	"matrix.object", 
	"sym.matrix.object", 
	"vector.object",
	"matrix.CFA.object", 
	"matrix.SEM.object", 
	"matrix.Path.object"
	)
