exportClasses(
	"Rnorm", 
	"Runif", 
	"simDist",
	"simMatrix", 
	#"symMatrix", 
	"simVector" #, 
	#"nullVector",
	#"nullMatrix"#,
	#"nullSimMatrix" #,
	#"nullSymMatrix",
	#"nullSimVector"
	)
exportMethods(
	"summary", 
	"run",
	"is.null.object", 
	"adjust.object", 
	"summary.short"
	)
export(
	"loading.from.alpha", 
	"runif.object", 
	"rnorm.object", 
	"matrix.object", 
	"sym.matrix.object", 
	"vector.object"
	)
