exportClasses(Rnorm, Runif, simDist, simMatrix, symMatrix, simVector, simMatrixSet, simConstraint, simData, simModel, simResult)
exportMethods(summary, run, summary.short, adjust.object, model.object)
export(loading.from.alpha, runif.object, rnorm.object, matrix.object, sym.matrix.object, vector.object,
	matrix.CFA.object, matrix.Path.object, matrix.SEM.object, constraint.object, data.object, result.object,
	find.cutoff, visualize, pvalue, find.power, overlap.hist,
	misspecified.CFA.object, misspecified.Path.object, misspecified.SEM.object)
