exportClasses(SimNorm, SimUnif, VirtualDist, SimMatrix, SymMatrix, SimVector, 
	SimSet, SimEqualCon, SimData, SimModel, SimResult, SimMisspec, SimModelOut,
	SimDataOut, SimMissing, SimModelMIOut)
exportMethods(summary, run, summaryShort, adjust, simModel,
	getCutoff, getPower, plotCutoff, plotPower, summaryParam)
export(loadingFromAlpha, imposeMissing, simUnif, simNorm, simMatrix, symMatrix, simVector,
	simSetCFA, simSetPath, simSetSEM, simEqualCon, simData, simResult,
	simMisspecCFA, simMisspecPath, simMisspecSEM, runMI)
