importFrom("lavaan", summary, anova)
exportClasses(SimUnif, SimNorm, SimBeta, SimBinom, SimCauchy, SimChisq, SimExp,
	SimF, SimGamma, SimGeom, SimHyper, SimLnorm, SimLogis, SimNbinom, 
	SimPois, SimT, SimWeibull, VirtualDist,
	SimMatrix, SymMatrix, SimVector, 
	SimSet, SimEqualCon, SimData, SimModel, SimResult, SimDataDist, SimMisspec, SimModelOut,
	SimDataOut, SimMissing, SimModelMIOut, SimFunction, SimFreeParam)
exportMethods(summary, run, summaryShort, adjust, simModel,
	getCutoff, getPower, plotCutoff, plotPower, summaryParam, plotDist, createImpliedMACS,
	skew, kurtosis, extract, anova, simData)
export(simUnif, simNorm, simBeta, simBinom, simCauchy, simChisq, simExp,
	simF, simGamma, simGeom, simHyper, simLnorm, simLogis, simNbinom, 
	simPois, simT, simWeibull, 
	loadingFromAlpha, simMatrix, symMatrix, simVector,
	simSetCFA, simSetPath, simSetSEM, simEqualCon, simResult, simDataDist,
	simMisspecCFA, simMisspecPath, simMisspecSEM, runMI, simMissing, imposeMissing, miPoolVector,
	simFit, simFunction, simParamCFA, simParamPath, simParamSEM, indProd, residualCovariate)
